* {
    background-color: #E3EEF3;
}

.menuWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
  }

  #find {
    grid-column: 1;
    grid-row: 1;
  }
  #add { 
    grid-column: 2;
    grid-row: 1;
  }
  #favorite {
    grid-column: 3;
    grid-row: 1;
  }
  #grocery {
    grid-column: 4;
    grid-row: 1;
  }

  .menu-option {
    background-color: #74B7D4;
    vertical-align: center;
    padding: 10px;
  }

  .menu-option:hover {
    background-color: #046A95;
}

  .suggestionWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: 1px solid #046A95;
  }
  .suggestions {
    grid-column: 1;
    grid-row: 1;
  }

  #suggestions1 {
      grid-column: 1;
      grid-row: 2;
  }
  #suggestions2 {
    grid-column: 1;
    grid-row: 3;
}

#suggestions3 {
    grid-column: 1;
    grid-row: 4;
}
.recipeOfWeekGrid {
    grid-column: 2/4;
}

.friendWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: 1px solid #046A95;
  }
.friend1 {
    grid-column: 1;
    grid-row: 2;
}
.friend2 {
  grid-column: 1;
  grid-row: 3;
}

.friend3 {
  grid-column: 1;
  grid-row: 4;
}

  h3 {
      text-align: center;
  }

  .recipeOfWeek {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  #rotwImage {
      grid-column: 1;
      grid-row: 2;
      height: 500px;
  }

  h1 {
      text-align: center;
      background-color: #3EA1CB;
      padding: 20px;
  }

  a {
      text-align: right;
  }

  .credentials {
      text-align: right;
  }
